.title {
    font-size: 30;
    -unity-font-style: bold;
}

.text {
    font-size: 10;
}

.fade-in {
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
}

.fade-out {
    opacity: 0;
    transition-duration: 1s;
    transition-property: opacity;
}
